security:
    # https://symfony.com/doc/current/security.html#where-do-users-come-from-user-providers

    encoders:
         App\Entity\Personne: bcrypt
    providers:
        smart_diet_app:

            entity: { class: App\Entity\Personne, property: mail }
        users_in_memory: { memory: null }
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            anonymous: ~
            provider: smart_diet_app
            form_login:
                login_path: login
                check_path: login
         #   provider: users_in_memory

            # activate different ways to authenticate
            # https://symfony.com/doc/current/security.html#firewalls-authentication

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

    # Easy way to control access for large sections of your site
    # Note: Only the *first* access control that matches will be used
    access_control:
        # - { path: ^/admin, roles: ROLE_ADMIN }
        # - { path: ^/profile, roles: ROLE_USER }
