<!doctype html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Owl Theme Default Min CSS -->
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <!-- Boxicons Min CSS -->
    <link rel="stylesheet" href="assets/css/boxicons.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <!-- Meanmenu Min CSS -->
    <link rel="stylesheet" href="assets/css/meanmenu.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- Nice Select Min CSS -->
    <link rel="stylesheet" href="assets/css/nice-select.min.css">
    <!-- Date Picker CSS-->
    <link rel="stylesheet" href="assets/css/date-picker.min.css">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
    <!-- Title -->
    <title>Aava - Diet & Nutrition Health Center HTML Template</title>
</head>

<body>
<!-- Start Preloader Area -->
<div class="preloader">
    <div class="lds-ripple">
        <span class="loader-inner-1"></span>
        <span class="loader-inner-2"></span>
        <span class="loader-inner-3"></span>
        <span class="loader-inner-4"></span>
    </div>
</div>
<!-- End Preloader Area -->

<!-- Start Header Area -->
<header class="header-area">
    <!-- Start Top Header -->
    <div class="top-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="header-left-content">
                        <ul class="contact-info">
                            <li>
                                <i class="bx bx-phone-call"></i>
                                <a href="tel:+1-(514)-312-5678">+1 (514) 312-5678</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="header-right-content">
                        <div class="language">
                            <div class="dropdown language-settings">
                                <button class="dropdown-toggle language-btn" type="button" data-bs-toggle="dropdown">
                                    Language
                                    <i class="bx bx-chevron-down"></i>
                                    <span class="bx bx-world"></span>
                                </button>

                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item">
                                        <img src="assets/images/language/english.png" alt="Flag">
                                        <span>English</span>
                                    </a>

                                    <a href="#" class="dropdown-item">
                                        <img src="assets/images/language/arab.png" alt="Flag">
                                        <span>العربيّة</span>
                                    </a>

                                    <a href="#" class="dropdown-item">
                                        <img src="assets/images/language/germany.png" alt="Flag">
                                        <span>Germany</span>
                                    </a>

                                    <a href="#" class="dropdown-item">
                                        <img src="assets/images/language/portugues.png" alt="Flag">
                                        <span>Português</span>
                                    </a>

                                    <a href="#" class="dropdown-item">
                                        <img src="assets/images/language/china.png" alt="Flag">
                                        <span>简体中文</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <ul class="my-account">
                            <li>
                                <a href="my-account.html">
                                    <i class="bx bxs-user"></i>
                                    Account
                                </a>
                            </li>
                            <li>
                                <a href="shopping-cart.html" class="basket">
                                    <i class='bx bxs-cart-alt' ></i>
                                    Basket
                                    <span>0</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Top Header -->

    <!-- Start Navbar Area -->
    <div class="navbar-area">
        <div class="mobile-nav">
            <div class="container">
                <div class="mobile-menu">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/logo.png" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="desktop-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/logo.png" alt="logo">
                    </a>

                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link active">
                                    Home
                                    <i class="bx bx-chevron-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="index.html" class="nav-link active">Home One</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-2.html" class="nav-link">Home Two</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-3.html" class="nav-link">Home Three</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Pages
                                    <i class="bx bx-chevron-down"></i>
                                </a>



                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="about-us.html" class="nav-link">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            Portfolio
                                            <i class="bx bx-chevron-down"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="portfolio-column-two.html" class="nav-link">Portfolio Column Two</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="portfolio-column-three.html" class="nav-link">Portfolio Column Three</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="portfolio-column-four.html" class="nav-link">Portfolio Column Four</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pricing.html" class="nav-link">Pricing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="faq.html" class="nav-link">FAQ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="terms-conditions.html" class="nav-link">Terms & Conditions</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            User
                                            <i class="bx bx-chevron-down"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="my-account.html" class="nav-link">My Account</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="log-in.html" class="nav-link">Log In</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="register.html" class="nav-link">Register</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="recover-password.html" class="nav-link">Recover Password</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="our-experts.html" class="nav-link">Our Experts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="partner-details.html" class="nav-link">Partner Details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="appointment.html" class="nav-link">Appointment</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="coming-soon.html" class="nav-link">Coming Soon</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="404.html" class="nav-link">404 Error Page</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{{ path('livraison') }}" class="nav-link">Livraisons</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Services
                                    <i class="bx bx-chevron-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="services.html" class="nav-link">Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="services-details.html" class="nav-link">Services Details</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Shop
                                    <i class="bx bx-chevron-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="products.html" class="nav-link">Products</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="wishlist.html" class="nav-link">Wishlist</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="shopping-cart.html" class="nav-link">Shopping cart</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="checkout.html" class="nav-link">Checkout</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="product-details.html" class="nav-link">Product Details</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    News
                                    <i class="bx bx-chevron-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="news.html" class="nav-link">News</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="news-details.html" class="nav-link">News Details</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Contact Us</a>
                            </li>
                        </ul>

                        <div class="others-option">
                            <div class="option-item">
                                <i class="search-btn bx bx-search"></i>
                                <i class="close-btn bx bx-x"></i>

                                <div class="search-overlay search-popup">
                                    <div class='search-box'>
                                        <form class="search-form">
                                            <input class="search-input" name="search" placeholder="Search" type="text">

                                            <button class="search-button" type="submit">
                                                <i class="bx bx-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="get-quote">
                                <a href="appointment.html" class="default-btn">
                                    Get Appointment
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="others-option-for-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>

                <div class="container">
                    <div class="option-inner">
                        <div class="others-option justify-content-center d-flex align-items-center">
                            <div class="option-item">
                                <i class="search-btn bx bx-search"></i>
                                <i class="close-btn bx bx-x"></i>

                                <div class="search-overlay search-popup">
                                    <div class='search-box'>
                                        <form class="search-form">
                                            <input class="search-input" name="search" placeholder="Search" type="text">

                                            <button class="search-button" type="submit">
                                                <i class="bx bx-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="get-quote">
                                <a href="appointment.html" class="default-btn">
                                    Get Appointment
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
</header>
<!-- End Header Area -->

<!-- Start Hero Slider Area -->
<section class="hero-slider-area">
    <div class="hero-slider owl-carousel owl-theme">
        <div class="hero-slider-item bg-1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="hero-slider-content">
                            <span>Welcome to Aava</span>
                            <h1>keep Your Body Healthy And Fit</h1>
                            <p>We advise you to cure and prevent disease with nutrition for  living your life in a healthy way Lorem ipsum dolor amet.</p>

                            <div class="hero-slider-btn">
                                <a href="about-us.html" class="default-btn">
                                    View More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-slider-item bg-2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="hero-slider-content">
                            <span>Welcome to Aava</span>
                            <h1>Good Nutrition Prevent Disease</h1>
                            <p>We advise you to cure and prevent disease with nutrition for  living your life in a healthy way Lorem ipsum dolor amet.</p>

                            <div class="hero-slider-btn">
                                <a href="about-us.html" class="default-btn">
                                    View More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-slider-item bg-3">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="hero-slider-content">
                            <span>Welcome to Aava</span>
                            <h1>Your Medicine is Your Food</h1>
                            <p>We advise you to cure and prevent disease with nutrition for  living your life in a healthy way Lorem ipsum dolor amet.</p>

                            <div class="hero-slider-btn">
                                <a href="about-us.html" class="default-btn">
                                    View More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Slider Area -->

<!-- Start Expertise Area -->
<section class="expertise-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our Main Areas of Expertise</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-expertise">
                    <img src="assets/images/expertise/expertise-1.jpg" alt="Image">

                    <div class="expertise-title">
                        <h3>Personal Nutrition</h3>
                    </div>

                    <div class="expertise-content">
                        <h3>Personal Nutrition</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-expertise">
                    <img src="assets/images/expertise/expertise-2.jpg" alt="Image">

                    <div class="expertise-title">
                        <h3>Dietitian Nutritionists</h3>
                    </div>

                    <div class="expertise-content">
                        <h3>Dietitian Nutritionists</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-expertise">
                    <img src="assets/images/expertise/expertise-3.jpg" alt="Image">

                    <div class="expertise-title">
                        <h3>Nutritious Lifestyle</h3>
                    </div>

                    <div class="expertise-content">
                        <h3>Nutritious Lifestyle</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Expertise Area -->

<!-- Start About Us Area -->
<section class="about-us-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img-content">
                    <div class="about-img-1">
                        <img src="assets/images/about/about-img-1.jpg" alt="Image">
                        <div class="about-img-2">
                            <img src="assets/images/about/about-img-2.jpg" alt="Image">
                        </div>
                    </div>

                    <h3><span>25</span> Years of Experience</h3>

                    <a href="https://www.youtube.com/watch?v=yH3CPw9HLY0" class="popup-youtube video">
                        <div class="video-btn">
                            <i class="flaticon-play-button-1"></i>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-content">
                    <span>About Aava</span>
                    <h2>Better Eat, Better Life</h2>
                    <h4>If You Get Better Nutrition, You Can Enjoy a Healthy Age</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quaerat fuga ipsam temporibus reprehenderit libero earum autem, eius hic consequatur placeat ab eaque! Nostrum, exercitationem.</p>

                    <h3>We Can Help You</h3>

                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <ul class="mb-20">
                                <li>Low Energy</li>
                                <li>Stress & Anxiety</li>
                                <li>Poor Eating Habits</li>
                                <li>Digestive Problems</li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <ul>
                                <li>Balance Body & Mind</li>
                                <li>Advice</li>
                                <li>Workout Routines</li>
                                <li>Protein</li>
                            </ul>
                        </div>
                    </div>

                    <a href="about-us.html" class="default-btn">View More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="about-shape-img">
        <img src="assets/images/about-shape.png" alt="Image">
    </div>
</section>
<!-- End About Us Area -->

<!-- Start Why Choose Us Area -->
<section class="why-choose-us-area bg-color ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="why-choose-us-content">
                    <span>Why Choose Us</span>
                    <h2>The Nutrition Professionals</h2>

                    <ul>
                        <li>
                            <span>1</span>
                            <h3>Registered Dietitians</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </li>

                        <li>
                            <span>2</span>
                            <h3>Nutrition Consultation</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </li>

                        <li>
                            <span>3</span>
                            <h3>Individual Support</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </li>

                        <li>
                            <span>4</span>
                            <h3>Disease Management</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="why-choose-us-img">
                    <img src="assets/images/choose-us-img.jpg" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Why Choose Us Area -->

<!-- Start What We Offer Area -->
<section class="what-we-offer-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>What We Offer</span>
            <h2>Our Diet & Nutrition Services</h2>
        </div>

        <div class="owl-carousel owl-theme what-we-offer-slider">
            <div class="single-what-we-offer">
                <a href="services-details.html">
                    <img src="assets/images/what-we-offer/what-we-offer-1.jpg" alt="Image">
                </a>

                <div class="what-we-offer-content">
                    <h3>
                        <a href="services-details.html">Nutrition Response Testing</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    <a href="services-details.html" class="read-more">Read More</a>
                </div>
            </div>

            <div class="single-what-we-offer">
                <a href="services-details.html">
                    <img src="assets/images/what-we-offer/what-we-offer-2.jpg" alt="Image">
                </a>

                <div class="what-we-offer-content">
                    <h3>
                        <a href="services-details.html">Weight Loss Program</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    <a href="services-details.html" class="read-more">Read More</a>
                </div>
            </div>

            <div class="single-what-we-offer">
                <a href="services-details.html">
                    <img src="assets/images/what-we-offer/what-we-offer-3.jpg" alt="Image">
                </a>

                <div class="what-we-offer-content">
                    <h3>
                        <a href="services-details.html">Nutrition Response Testing</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    <a href="services-details.html" class="read-more">Read More</a>
                </div>
            </div>

            <div class="single-what-we-offer">
                <a href="services-details.html">
                    <img src="assets/images/what-we-offer/what-we-offer-4.jpg" alt="Image">
                </a>

                <div class="what-we-offer-content">
                    <h3>
                        <a href="services-details.html">Clinical Nutrition</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    <a href="services-details.html" class="read-more">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End What We Offer Area -->

<!-- Start Appointment Area -->
<section class="appointment-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 pl-0">
                <div class="appointment-img"></div>
            </div>

            <div class="col-lg-6">
                <div class="appointment-action ptb-100">
                    <h2>Make An Appointment</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui, recusandae alias. Ipsam, repellendus, vero consectetur quod eligendi debitis.</p>

                    <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Name" placeholder="Name">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="Email" placeholder="Email">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Phone" placeholder="Phone">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group date" id="datetimepicker">
                                        <input type="text" class="form-control" id="Date" placeholder="Booking Date">
                                        <span class="input-group-addon"></span>
                                        <i class="bx bx-calendar"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <select>
                                        <option value="1">Type of Service</option>
                                        <option value="2">Health Service</option>
                                        <option value="3">Nutrition Service</option>
                                        <option value="4">Response Service</option>
                                        <option value="5">Testing Service</option>
                                        <option value="6">Weight Service</option>
                                        <option value="7">Clinical Service</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" id="Message" rows="4" placeholder="Your Message"></textarea>
                                </div>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="default-btn">
                                    Book Appointment
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Appointment Area -->

<!-- Start Customer Story Area -->
<section class="customer-story-area bg-color ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Customer Story</span>
            <h2>Story of Success</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="customer-story-slider owl-carousel owl-theme">
            <div class="single-customer-story">
                <img src="assets/images/customer-story/customer-story-img-1.jpg" alt="Image">

                <h2>Diet and Nutrition Improves Health</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur magna aliquyam.</p>
            </div>

            <div class="single-customer-story">
                <img src="assets/images/customer-story/customer-story-img-2.jpg" alt="Image">

                <h2>The Nutrition Professionals</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur magna aliquyam.</p>
            </div>
        </div>
    </div>
</section>
<!-- End Customer Story Area -->

<!-- Start Team Area -->
<section class="team-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Our Experts</span>
            <h2>Diet & Nutrition Experts</h2>
        </div>

        <div class="owl-carousel owl-theme team-slider">
            <div class="single-team">
                <div class="team-img">
                    <img src="assets/images/team/team-1.jpg" alt="Image">

                    <ul class="team-link">
                        <li>
                            <a href="#">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-pinterest-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="team-content">
                    <h3>Dr. Angela Russell</h3>
                    <span>Diet & Nutrition</span>
                </div>
            </div>

            <div class="single-team">
                <div class="team-img">
                    <img src="assets/images/team/team-2.jpg" alt="Image">

                    <ul class="team-link">
                        <li>
                            <a href="#">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-pinterest-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="team-content">
                    <h3>Dr. Russell Anderson</h3>
                    <span>Nutritonist</span>
                </div>
            </div>

            <div class="single-team">
                <div class="team-img">
                    <img src="assets/images/team/team-3.jpg" alt="Image">

                    <ul class="team-link">
                        <li>
                            <a href="#">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-pinterest-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="team-content">
                    <h3>Dr. Miriam Landau</h3>
                    <span>Diet & Nutrition</span>
                </div>
            </div>

            <div class="single-team">
                <div class="team-img">
                    <img src="assets/images/team/team-4.jpg" alt="Image">

                    <ul class="team-link">
                        <li>
                            <a href="#">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-pinterest-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="team-content">
                    <h3>Dr. Anna Smith</h3>
                    <span>Nutritonist</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Area -->

<!-- Start Testimonial Area -->
<section class="testimonials-area pt-100">
    <div class="container">
        <div class="testimonials-content">
            <div class="testimonials-slider owl-carousel owl-theme">
                <div class="single-testimonials">
                    <i class="bx bxs-quote-right"></i>
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus com modo viverra maecenas accumsan lacus vel facilisis.” </p>

                    <div class="writer-name">
                        <h3>Miriam Landau</h3>
                        <span>Director</span>
                    </div>
                </div>

                <div class="single-testimonials">
                    <i class="bx bxs-quote-right"></i>
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus com modo viverra maecenas accumsan lacus vel facilisis.” </p>

                    <div class="writer-name">
                        <h3>Alex Dew</h3>
                        <span>Company of CEO</span>
                    </div>
                </div>

                <div class="single-testimonials">
                    <i class="bx bxs-quote-right"></i>
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus com modo viverra maecenas accumsan lacus vel facilisis.” </p>

                    <div class="writer-name">
                        <h3>Juhon Smith</h3>
                        <span>Company of MD</span>
                    </div>
                </div>
            </div>
        </div>
        <h4>Testimonials</h4>
    </div>
</section>
<!-- End Testimonial Area -->

<!-- Start Healthy Life Area -->
<section class="healthy-life-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="healthy-life-img">
                    <img src="assets/images/healthy-life-img.jpg" alt="Image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="healthy-life-content">
                    <h2>We Give You Inspiration For Living a Healthy Life</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida consectetur adipiscing.</p>

                    <h3>Steps to Your Perfect Body</h3>

                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <ul class="mb-20">
                                <li>Low Energy</li>
                                <li>Stress & Anxiety</li>
                                <li>Poor Eating Habits</li>
                                <li>Digestive Problems</li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <ul>
                                <li>Balance Body & Mind</li>
                                <li>Advice</li>
                                <li>Workout Routines</li>
                                <li>Protein</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Healthy Life Area -->

<!-- Start Our News Area -->
<section class="our-news-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Our News</span>
            <h2>Featured News And Advice</h2>
        </div>

        <div class="owl-carousel owl-theme news-slider">
            <div class="single-news">
                <a href="news-details.html">
                    <img src="assets/images/news/news-1.jpg" alt="Image">
                </a>

                <div class="news-content">
                    <ul>
                        <li>
                            <i class="bx bxs-user"></i>
                            <a href="#">Harold McLeod</a>
                        </li>
                        <li>
                            <i class="bx bxs-calendar"></i>
                            <span>Dec 04, 2020</span>
                        </li>
                    </ul>

                    <h3>
                        <a href="news-details.html">
                            Tips to Help Support Your Nutritional Assessment
                        </a>
                    </h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>

                    <a href="news-details.html" class="read-more">
                        Read More
                    </a>
                </div>
            </div>

            <div class="single-news">
                <a href="news-details.html">
                    <img src="assets/images/news/news-2.jpg" alt="Image">
                </a>

                <div class="news-content">
                    <ul>
                        <li>
                            <i class="bx bxs-user"></i>
                            <a href="#">James Stockton</a>
                        </li>
                        <li>
                            <i class="bx bxs-calendar"></i>
                            <span>Dec 05, 2020</span>
                        </li>
                    </ul>

                    <h3>
                        <a href="news-details.html">
                            7 Steps to Stay Healthy During Times
                        </a>
                    </h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>

                    <a href="news-details.html" class="read-more">
                        Read More
                    </a>
                </div>
            </div>

            <div class="single-news">
                <a href="news-details.html">
                    <img src="assets/images/news/news-3.jpg" alt="Image">
                </a>

                <div class="news-content">
                    <ul>
                        <li>
                            <i class="bx bxs-user"></i>
                            <a href="#">George Harris</a>
                        </li>
                        <li>
                            <i class="bx bxs-calendar"></i>
                            <span>Dec 06, 2020</span>
                        </li>
                    </ul>

                    <h3>
                        <a href="news-details.html">
                            Top 5 Tips Why Selfcare is More Important
                        </a>
                    </h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>

                    <a href="news-details.html" class="read-more">
                        Read More
                    </a>
                </div>
            </div>

            <div class="single-news">
                <a href="news-details.html">
                    <img src="assets/images/news/news-4.jpg" alt="Image">
                </a>

                <div class="news-content">
                    <ul>
                        <li>
                            <i class="bx bxs-user"></i>
                            <a href="#">Kliva Dew</a>
                        </li>
                        <li>
                            <i class="bx bxs-calendar"></i>
                            <span>Dec 07, 2020</span>
                        </li>
                    </ul>

                    <h3>
                        <a href="news-details.html">
                            We Give You Inspiration For Living a Healthy Life
                        </a>
                    </h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>

                    <a href="news-details.html" class="read-more">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Our News Area -->

<!-- Start Partner Area -->
<div class="partner-area bg-color ptb-100">
    <div class="container">
        <div class="partner-bg">
            <div class="row">
                <div class="partner-slider owl-carousel owl-theme">
                    <div class="partner-item">
                        <a href="partner-details.html">
                            <img src="assets/images/partner/partner-1.png" alt="Image">
                        </a>
                    </div>

                    <div class="partner-item">
                        <a href="partner-details.html">
                            <img src="assets/images/partner/partner-2.png" alt="Image">
                        </a>
                    </div>

                    <div class="partner-item">
                        <a href="partner-details.html">
                            <img src="assets/images/partner/partner-3.png" alt="Image">
                        </a>
                    </div>

                    <div class="partner-item">
                        <a href="partner-details.html">
                            <img src="assets/images/partner/partner-4.png" alt="Image">
                        </a>
                    </div>

                    <div class="partner-item">
                        <a href="partner-details.html">
                            <img src="assets/images/partner/partner-5.png" alt="Image">
                        </a>
                    </div>

                    <div class="partner-item">
                        <a href="partner-details.html">
                            <img src="assets/images/partner/partner-3.png" alt="Image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Partner Area -->

<!-- Start Footer Area -->
<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <a href="index.html" class="logo">
                        <img src="assets/images/white-logo.png" alt="Image">
                    </a>

                    <ul class="open-close">
                        <li>
                            <span>Opening Hours:</span>
                        </li>
                        <li>
                            Monday: 8:00 AM - 8:00 PM
                        </li>
                        <li>
                            Saturday: 10:00 AM - 8:00 PM
                        </li>
                        <li>
                            Sunday: Closed
                        </li>
                    </ul>

                    <ul class="social-icon">
                        <li>
                            <span>Follow Us:</span>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="bx bxl-linkedin-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Contact Us</h3>

                    <ul class="address">
                        <li class="location">
                            <i class="bx bx-location-plus"></i>
                            1424 Bridge Avenue Franklin, LA 70538
                        </li>
                        <li>
                            <i class="bx bx-envelope"></i>
                            <a href="mailto:hello@aava.com">hello@aava.com</a>
                            <a href="mailto:info@aava.com">info@aava.com</a>
                        </li>
                        <li>
                            <i class="bx bx-phone"></i>
                            <a href="tel:+1-(337)-829-7799">+1 (337)-829-7799</a>
                            <a href="tel:+1-(337)-829-7788">+1 (337)-829-7788</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Quick Links</h3>

                    <ul class="import-link">
                        <li>
                            <a href="our-experts.html">Our Experts</a>
                        </li>
                        <li>
                            <a href="contact-us.html">Contact Us</a>
                        </li>
                        <li>
                            <a href="faq.html">FAQs</a>
                        </li>
                        <li>
                            <a href="terms-conditions.html">Terms of Use</a>
                        </li>
                        <li>
                            <a href="privacy-policy.html">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Newsletter</h3>
                    <p>Sign up to get new exclusive offers from our latest news.</p>

                    <form class="newsletter-form" data-toggle="validator">
                        <input type="email" class="form-control" placeholder="Your email address" name="EMAIL" required autocomplete="off">

                        <button class="default-btn" type="submit">
                            Subscribe Now
                        </button>

                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<!-- Start Copy Right Area -->
<div class="copy-right-area">
    <div class="container">
        <p>
            Copyright @2020 Aava. Designed By
            <a href="https://envytheme.com/" target="_blank">EnvyTheme</a>
        </p>
    </div>
</div>
<!-- End Copy Right Area -->

<!-- Start Go Top Area -->
<div class="go-top">
    <i class="bx bx-chevrons-up"></i>
    <i class="bx bx-chevrons-up"></i>
</div>
<!-- End Go Top Area -->


<!-- Jquery Min JS -->
<script src="assets/js/jquery.min.js"></script>
<!-- Bootstrap Bundle Min JS -->
<script src="assets/js/bootstrap.bundle.min.js"></script>
<!-- Meanmenu Min JS -->
<script src="assets/js/meanmenu.min.js"></script>
<!-- Owl Carousel Min JS -->
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Wow Min JS -->
<script src="assets/js/wow.min.js"></script>
<!-- Nice Select Min JS -->
<script src="assets/js/nice-select.min.js"></script>
<!-- Magnific Popup Min JS -->
<script src="assets/js/magnific-popup.min.js"></script>
<!-- Mixitup Min JS -->
<script src="assets/js/mixitup.min.js"></script>
<!-- Datepicker Min JS -->
<script src="assets/js/bootstrap-datepicker.min.js"></script>
<!-- Form Validator Min JS -->
<script src="assets/js/form-validator.min.js"></script>
<!-- Contact JS -->
<script src="assets/js/contact-form-script.js"></script>
<!-- Ajaxchimp Min JS -->
<script src="assets/js/ajaxchimp.min.js"></script>
<!-- Custom JS -->
<script src="assets/js/custom.js"></script>
</body>
</html>