{% extends 'base.html.twig' %}

{% block title %}New UserApp{% endblock %}

{% block body %}
    <h1>Create new UserApp</h1>

    {{ include('user_app/_form.html.twig') }}

    <a href="{{ path('user_app_index') }}">back to list</a>
{% endblock %}
