<form method="post" action="{{ path('lignecommande_delete', {'idligne': lignecommande.idligne}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lignecommande.idligne) }}">
    <button class="btn">Delete</button>
</form>
