{% extends 'base.html.twig' %}

{% block title %}New Lignecommande{% endblock %}

{% block body %}
    <h1>Create new Lignecommande</h1>

    {{ include('lignecommande/_form.html.twig') }}

    <a href="{{ path('lignecommande_index') }}">back to list</a>
{% endblock %}
