{% extends 'base.html.twig' %}

{% block title %}New Experience{% endblock %}

{% block body %}


    {{ include('experience/_form.html.twig') }}

    <a href="{{ path('experience_index') }}">back to list</a>
{% endblock %}
